.cell {
	background: url(./images/square.png);
	background-size: 25px 25px;
	width: 25px;
	height: 25px;
	margin: 0px;
	padding: 0px;
	border: 1px solid grey;

}


.button {
	background: url(./images/default.png);
	background-size: 44px 44px;
	width: 48px;
	height: 48px;
}


.lost {
	background: url(./images/dead.png);
	background-size: 44px 44px;
}


.button:active{
	background: url(./images/pushed.png);
	background-size: 44px 44px;
}


.flag {
	background: url(./images/flag.png);
	background-size: 25px 25px;
}


.bomb {
	background: url(./images/bomb.png);
	background-size: 25px 25px;
}


.boom {
	background: url(./images/bombexplode.png);
	background-size: 25px 25px;
}


.defused {
	background: url(./images/bombdefused.png);
	background-size: 25px 25px;
}


.won {
	background: url(./images/won.png);
	background-size: 44px 44px;
}


.number {
	background: lightgrey;
	border: 1px solid grey;
	font-family: Consolas, sans-serif;
	color: red;
	font-weight: bold;
	margin: 5px;
	text-align: center;
}


.empty {
	background: lightgrey;
	border: 1px solid grey;
}

table {
	background-color: lightgrey;
	border: 1px solid grey;
	border-spacing: 0px;
}

body {
	align-items: center;
	align-content: center;
}